<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>HEY</h1>
    <h2>welcome to the site</h2>
    <h3>the messaging site</h3>
    <h4>make an account, login, post a message</h4>
    <hr>
        <a href="/createUser">Create an account</a> | 
        <a href="/login">Login</a> |
        <a href="/message">post a message</a> | 
        <a href="/logout">logout</a> | 
    <hr>

    <h2>Messages</h2>

    <% for (let message of locals.messages) { %> 
        <div>
            <%= message.dataValues.content %><span><%= message.dataValues.upVotes%></span> <form action="/vote" method="post">
                <input type="hidden" name="upVote" value="<%=message.dataValues.upVotes %>">
                <input type="hidden" name="messageId" value="<%=message.dataValues.id %>">
                <button type="submit">Vote</button></form>
        </div>
        <hr>
    <% } %>

</body>
</html>